In [1]:
def hello(name):
    print("Hello World!",  name)

In [2]:
hello("Sachin")

Hello World! Sachin

In [3]:
hello("Raman Garg")

Hello World! Raman Garg

In [5]:
data = [
    ["Sachin", 56], # 0
    ["Rajat", 76],  # 1
    ["Ravi", 67],   # 2
    ["Nidhi", 75],  # 3
    ["Shivani", 88] # 4
    # 0          1
]
# nested lists

In [21]:
data[0][1] += 10

In [22]:
from pprint import pprint
pprint(data)

[['Sachin', 66], ['Rajat', 76], ['Ravi', 67], ['Nidhi', 75], ['Shivani', 88]]

In [27]:
# v ?
data[4][0][3]

'v'

In [28]:
data[4][0] = "Shikani"

In [29]:
pprint(data)

[['Sachin', 66], ['Rajat', 76], ['Ravi', 67], ['Nidhi', 75], ['Shikani', 88]]

In [33]:
data = [
    ["Sachin", 56], # 0
    ["Rajat", 76],  # 1
    ["Ravi", 67],   # 2
    ["Nidhi", 75],  # 3
    ["Shivani", 88], # 4
    ["Shubham", 64],
    ["Ram", 84]
    # 0          1
]
# nested lists

In [34]:
data.sort()

In [35]:
pprint(data)

[['Nidhi', 75],
 ['Rajat', 76],
 ['Ram', 84],
 ['Ravi', 67],
 ['Sachin', 56],
 ['Shivani', 88],
 ['Shubham', 64]]

    input() -> "data"
    print() -> None

    'hello'.upper() -> "Hello"

    [1, 2, 3].append(4) -> None

In [46]:
def add(x, y):
    return (x*x) + (y*y)

In [47]:
r = add(4, 5)
print(r)

41

In [41]:
get_key("hello")

'e'

In [59]:
sum([4, 8, 3])

15

In [66]:
def get_key(item):
    # item = ["Sachin", 56, 67, 87]
    return item[1] + item[2] + item[3]
    #return 56+67+87
    
def get_key(item):
    return sum(item[1:])

In [67]:
data = [
    ["Sachin", 56, 67, 87], # 0
    ["Rajat", 76, 45, 76],  # 1
    ["Ravi", 67, 82, 65],   # 2
    ["Nidhi", 75, 77, 98],  # 3
    ["Shivani", 88, 57, 45], # 4
    ["Shubham", 64, 67, 56],
    ["Ram", 84, 45, 67]
    # 0          1
]
# nested lists

In [68]:
data.sort(key=get_key, reverse=True)
pprint(data)

[['Nidhi', 75, 77, 98],
 ['Ravi', 67, 82, 65],
 ['Sachin', 56, 67, 87],
 ['Rajat', 76, 45, 76],
 ['Ram', 84, 45, 67],
 ['Shivani', 88, 57, 45],
 ['Shubham', 64, 67, 56]]

In [70]:
def get_key(item):
    #  ['apple iphone', 10, 50000, 70000]
    profit = item[3] - item[2]
    qty = item[1]
    return qty*profit

In [74]:
def get_key(item):
    return item[1] * (item[3]-item[2])

In [75]:
products = [
    # product name, quantity, actual price, selling price
    ['apple iphone', 10, 50000, 70000],
    ['samsung s22', 15, 60000, 65000],
    ['oneplus 10', 20, 40000, 35000],
    ['oppo find X pro', 20, 35000, 37000]
]

In [77]:
products.sort(key=lambda item: item[1] * (item[3]-item[2]) , reverse=True)
pprint(products)

[['apple iphone', 10, 50000, 70000],
 ['samsung s22', 15, 60000, 65000],
 ['oppo find X pro', 20, 35000, 37000],
 ['oneplus 10', 20, 40000, 35000]]

In [76]:
products.sort(key=get_key, reverse=True)
pprint(products)

[['apple iphone', 10, 50000, 70000],
 ['samsung s22', 15, 60000, 65000],
 ['oppo find X pro', 20, 35000, 37000],
 ['oneplus 10', 20, 40000, 35000]]

In [80]:
print(*dir(list)[-11:], sep='\n')

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [94]:
from random import randint

nums = [ randint(10, 100) for _ in range(30)]

In [95]:
print(nums)

[16, 68, 55, 96, 49, 92, 33, 71, 53, 31, 85, 42, 97, 86, 14, 99, 93, 50, 85, 23, 93, 49, 97, 36, 54, 71, 95, 57, 100, 58]

In [97]:
c = nums.count(85)
print(c)

2

In [96]:
i = nums.index(85)
print(i)

10

In [98]:
i = nums.index(85, 11)
print(i)

18

In [92]:
s = ['first', 2, 'third', 4, 'fifth']
# s[::-1] -> new list -> copy of original list in reverse order

ns = s[::-1]
print(ns)

['fifth', 4, 'third', 2, 'first']

In [93]:
s = ['first', 2, 'third', 4, 'fifth']
# s[::-1] -> new list -> copy of original list in reverse order
s.reverse()
print(ns)

['fifth', 4, 'third', 2, 'first']

In [87]:
x = [1, 2, 3, 4]
y = x.copy()
x.append(10)
print("x: ", x) # x = [1, 2, 3, 4, 10]
print("y: ", y) # y = [1, 2, 3, 4]

x:  [1, 2, 3, 4, 10]
y:  [1, 2, 3, 4]

In [88]:
x = [1, 2, 3, 4]
y = x
x.append(10)
print("x: ", x) # x = [1, 2, 3, 4, 10]
print("y: ", y) # y = [1, 2, 3, 4]

x:  [1, 2, 3, 4, 10]
y:  [1, 2, 3, 4, 10]

In [84]:
x = 10
y = x

x = 20

print("x: ", x)
print("y: ", y)

x:  20
y:  10

In [86]:
x = [1, 2, 3, 4]
y = x

x.clear()

print("x: ", x) # x = [1, 2, 3, 4, 10]
print("y: ", y) # y = [1, 2, 3, 4]

x:  []
y:  []

In [85]:
x = [1, 2, 3, 4]
y = x

x.append(10)

print("x: ", x) # x = [1, 2, 3, 4, 10]
print("y: ", y) # y = [1, 2, 3, 4]

x:  [1, 2, 3, 4, 10]
y:  [1, 2, 3, 4, 10]

    Shallow Copy & Deep Copy

In [83]:
nums = [ 1, 5,3, 3, 24,34, 5,34, 32,4 ,65, 32]
print('before: ', nums)
nums.clear()

print('after: ', nums)

before:  [1, 5, 3, 3, 24, 34, 5, 34, 32, 4, 65, 32]
after:  []

## Tuple 


    Immutable List

In [99]:
t = (10, 20, 30)

In [100]:
t[1] = 20

TypeError: 'tuple' object does not support item assignment

In [101]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

    Dictionary
    Set