## Dictionary

    map type data type
    
    unordered data type 
    
    collection / iterable of key-value pairs 
    
    keys should be unique and hashable (immutable-> number, string, tuple)
    
    values can be any valid python object (data type)
    
    dictionary is a mutable data type

    Syntax
    
        {key-1:value-1, key2:value-2, ..., key-n:value-n}

    Library Management 
    
    Inventory Management

    
    name
    quantity
    expiry date
    warrenty
    discount
    actual price
    selling price
    product type

In [14]:
# [ name, quantity, expiry date, warrenty, discount, acutal, selling, type]
#    0      1           2            3         4        5       6       7
products = [ 
    [ "vivo", 5, None, "1 year",
        "6% off", 20000, 30000, "mobile" ],
    [ "one plus buds", 10, None, "6 month", "10% off", 
         3000, 3400, "earphone"]
]

In [15]:
p = ["nike running shoes", 10, None, "1 year", None, 
         10000, 15000, "shoes"]

products.append(p)

In [16]:
from pprint import pprint

pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 10, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes']]

In [18]:
# [ name, quantity, expiry date, warrenty, discount, acutal, selling, type]

p = [
    input("Name: ").strip().upper(),
    int(input("Quantity: ")),
    input("Expiry Date: ").strip().upper(),
    input("Warrenty: ").strip().upper(),
    input("Discount: ").strip().upper(),
    float(input("Acutal Price: ")),
    float(input("Selling Price: ")),
    input("Type: ").strip().upper()
]

Name: pollo T-Shirt
Quantity: 10
Expiry Date:
Warrenty: 1 year
Discount: 10
Acutal Price: 2000
Selling Price: 2500
Type: T-Shirt

In [19]:
print(p)

['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2500.0, 'T-SHIRT']

In [20]:
products.append(p)

In [21]:
pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 10, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes'],
 ['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2500.0, 'T-SHIRT']]

In [22]:
lst = [ 'item-1', 'item-2', 'item-3']
#           0         1         2
lst = [ ['hi', 'hello'], ['bye', 'bye'] ]
#       ______________   ______________
#           0                  1

In [24]:
lst[0][1]

'hello'

In [25]:
pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 10, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes'],
 ['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2500.0, 'T-SHIRT']]

In [48]:
products[3][6] -= 300

In [49]:
pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 9, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes'],
 ['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2200.0, 'T-SHIRT']]

In [43]:
products[1][1] -= 1

In [44]:
pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 9, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes'],
 ['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2500.0, 'T-SHIRT']]

In [39]:
nums = [ 45, 65, 67]

In [40]:
print(nums)

[45, 65, 67]

In [41]:
#nums[1] = nums[1]-5# mutable

nums[1] -= 5

In [42]:
print(nums)

[45, 60, 67]

In [50]:
pprint(products)

[['vivo', 5, None, '1 year', '6% off', 20000, 30000, 'mobile'],
 ['one plus buds', 9, None, '6 month', '10% off', 3000, 3400, 'earphone'],
 ['nike running shoes', 10, None, '1 year', None, 10000, 15000, 'shoes'],
 ['POLLO T-SHIRT', 10, '', '1 YEAR', '10', 2000.0, 2200.0, 'T-SHIRT']]

In [51]:
## [ name, quantity, expiry date, warrenty, discount, acutal, selling, type]

products = [
    {
        "name": "vivo",
        "quantity": 5,
        "expiry date": None,
        "warrenty": "1 year",
        "discount": 6.0,
        "actual price": 20000,
        "selling price": 30000,
        "type": "mobile"
    },
    {
        "name": "one plus buds",
        "quantity": 10,
        "expiry date": None,
        "warrenty": "6 month",
        "discount": 10.0,
        "actual price": 3000,
        "selling price": 3400,
        "type": "earphone"
    }
]

In [52]:
n = len(products)
print(f"we have total {n} items.")

we have total 2 items.

In [53]:
pprint(products)

[{'actual price': 20000,
  'discount': 6.0,
  'expiry date': None,
  'name': 'vivo',
  'quantity': 5,
  'selling price': 30000,
  'type': 'mobile',
  'warrenty': '1 year'},
 {'actual price': 3000,
  'discount': 10.0,
  'expiry date': None,
  'name': 'one plus buds',
  'quantity': 10,
  'selling price': 3400,
  'type': 'earphone',
  'warrenty': '6 month'}]

In [55]:
products[1]["name"]

'one plus buds'

In [57]:
products[1]["quantity"] -= 1

In [58]:
pprint(products)

[{'actual price': 20000,
  'discount': 6.0,
  'expiry date': None,
  'name': 'vivo',
  'quantity': 5,
  'selling price': 30000,
  'type': 'mobile',
  'warrenty': '1 year'},
 {'actual price': 3000,
  'discount': 10.0,
  'expiry date': None,
  'name': 'one plus buds',
  'quantity': 9,
  'selling price': 3400,
  'type': 'earphone',
  'warrenty': '6 month'}]

products = [p1, p2, p3, p4, ..., pn]

# p1 = {'name': 'name', 'price': 300, ...}

In [66]:
for i in range(2):
    print(products[i]['name'])

vivo
one plus buds

In [64]:
print(products[0]['name'])
print(products[1]['name'])
print(products[2]['name'])
print(products[3]['name'])

vivo
one plus buds

In [61]:
for item in products:
    print(item['name'], item['selling price'])

vivo 30000
one plus buds 3400

### 5 project names along with data

    Bank Applicaiton 
    
        Data -> account number, name, phone number, password, balance
        
        5 fake entry
        
            1001, rajat, 123321, yahoo, 40000.0
            1002, sachin, 12345, redhat, 50000.0
            ...
            
    Library Managment 
        
        Data ->                    [ {'issue_date': ?, 'isbn': ?}  ]
                                       /\
                                       |
            student - name, roll no, issued book, history, fine
            
            books

### Dictionary

In [72]:
info = {
    "spam": "ham",
    "bob": "alice",
    "mulla": "nasureeden",
    "or": "bhai"
    
}

In [76]:
key = "mulla"
value = info[key] # get
print(key, value)

mulla nasureeden

In [77]:
info["bob"] = "natasha" # update

In [78]:
print(info)

{'spam': 'ham', 'bob': 'natasha', 'mulla': 'nasureeden', 'or': 'bhai'}

In [79]:
info["alice"] = 1000 # add

In [80]:
from pprint import pprint
pprint(info)

{'alice': 1000,
 'bob': 'natasha',
 'mulla': 'nasureeden',
 'or': 'bhai',
 'spam': 'ham'}

In [82]:
info['alice'] -= 500 # update

In [83]:
pprint(info)

{'alice': 500,
 'bob': 'natasha',
 'mulla': 'nasureeden',
 'or': 'bhai',
 'spam': 'ham'}

In [85]:
del info["or"] # delete

In [86]:
pprint(info)

{'alice': 500, 'bob': 'natasha', 'mulla': 'nasureeden', 'spam': 'ham'}

      Data Type -> numbers, strings
            
            
      Data Structure -> List[array], Dictionary[hash map]
      
              Operations
              
                  access / traversing
                       list: list[index]
                       dict: dict[key], dict.get(key)
                  
                  add  
                      list: list.append(item), list.insert(loc, item), 
                            list.extend(iterable)
                      dict: update, set_default
                  
                  delete
                      list: list.pop(index=-1), list.remove(item), del list[index]
                      dict: dict.pop(key), dict.popitem(), del dict[key]
                  
                  update
                      
                      list: lst[index] = new_value
                      dict:  dict[key] = new_value, dict.update(key=new_value)
                
                  
                  sorting 
               
                      list: lst.sort(), lst.sort(reverse=True)

In [88]:
data = {
    "name": "sachin"
}

In [89]:
print(data)

{'name': 'sachin'}

In [90]:
value = data["name"] # access
print(value)

sachin

In [91]:
data['city'] = "jaipur" # add

In [92]:
print(data)

{'name': 'sachin', 'city': 'jaipur'}

In [93]:
data['name'] = "Sachin Yadav" # update
print(data)

{'name': 'Sachin Yadav', 'city': 'jaipur'}

In [94]:
data['blood group'] = "B+ive"

In [95]:
print(data)

{'name': 'Sachin Yadav', 'city': 'jaipur', 'blood group': 'B+ive'}

In [96]:
del data["city"] # delete

In [97]:
print(data)

{'name': 'Sachin Yadav', 'blood group': 'B+ive'}

#### Dictionary Methods

    value = dict.get(key)   -> to access values from a dictionary
    
    keys = list(dict.keys()) -> list of all keys  of dictionary
    values = list(dict.values()) -> list of all values of dictionary
    items = list(dict.items()) -> list of all key-value pairs of dictionary
    
    value = dict.set_default(key, value) 
            if key available then return value of the key from dictionary
            otherwise add key-value pair into dictioanry and return given value
    
    dict.update(key1=vlaue1, key2=value2) -> 
            will add or update key-value pairs given as arguments into dictionary
    
    value = dict.pop(key, default) -> will delete key-value pair and return value
    pair = dict.popitem() -> will delete last added key-value pair
    
    dict.clear() -> will remove all key-value pairs and create a blank dictionary
    new = dict.copy() -> returns a copy of a dictionary
    
    new_dict = dict.fromkeys(iterable, default) -> creates a new dictionary
        using iterable keys and set values to default value