                        Python Tasks â€“ Day9
                        
1.	Write a Python program to check whether a number is negative, positive or zero.
2.	Write a Python program to check whether a number is divisible by 5 and 11 or not.
3.	Write a Python program to check whether a year is leap year or not.
4.	Write a Python program to check whether a character is alphabet or not.
5.	Write a Python program to input any alphabet and check whether it is vowel or consonant.
6.	Write a Python program to input any character and check whether it is alphabet, digit or special character.
7.	Write a Python program to check whether a character is uppercase or lowercase alphabet.
8.	Write a Python program to input week number and print weekday.
9.	Write a Python program to input angles of a triangle and check whether triangle is valid or not.
10.	Write a Python program to input all sides of a triangle and check whether triangle is valid or not.
11.	Write a Python program to check whether the triangle is equilateral, isosceles or scalene triangle.
12.	Write a Python program to input marks of five subjects Physics, Chemistry, Biology, Mathematics and Computer. Calculate percentage and grade according to following: 
                   Percentage >= 90% : Grade A
                   Percentage >= 80% : Grade B 
                   Percentage >= 70% : Grade C 
                               Percentage >= 60% : Grade D 
                               Percentage >= 40% : Grade E 
                               Percentage < 40% : Grade F
13.	Write a Python program to input basic salary of an employee and calculate its Gross salary according to following: 
                Basic Salary <= 10000 : HRA = 20%, DA = 80% 
                Basic Salary <= 20000 : HRA = 25%, DA = 90% 
                Basic Salary > 20000 : HRA = 30%, DA = 95%
14.	Write a Python Program to input electricity unit charges and calculate total electricity bill according to the given condition: 
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.20/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 20% is added to the bill

1. Write a Python program to check whether a number is negative, positive or zero.

In [11]:
num = float(input("Enter a number: "))

if num == 0:
    print(f"Given number {num} is zero")
    
if num < 0:
    print(f"Given number {num} is negative")
    
if num > 0:
    print(f"Given number {num} is positive")

Enter a number: 0
Given number 0.0 is zero

In [15]:
num = float(input("Enter a number: "))

if num == 0:
    print(f"Given number {num} is zero")
elif num < 0:
    print(f"Given number {num} is negative")
else:
    print(f"Given number {num} is positive")

Enter a number: 10
Given number 10.0 is positive

    5 -> Not Divisible 
    
    11 -> Not Divisible
    
    23 -> Not Divisible
    
    55 -> Divisible

### Nested if else

In [16]:
num = int(input("Num: "))

if num%5 == 0:
    # num is divisble by 5
    if num%11 == 0:
        # num is divible by 11
        print(f"{num} is divible by 5 and 11")
    else:
        print(f"{num} is not divible by 5 and 11")
else:
    # num is not divisble by 5
    print(f"{num} is not divible by 5 and 11")

Num: 5
5 is not divible by 5 and 11

#### Logical Operators in IF-ELSE

    to test multiple conditions

    True   and    True    -> True
    
    False and ?  -> False
    
    True and False -> False

In [21]:
num = int(input())
if (num%5==0) and (num%11==0):
    print(f"{num} is divible by 5 and 11")
else:
    print(f"{num} is not divible by 5 and 11")

55
55 is divible by 5 and 11

Write a Python program to check whether a year is leap year or not.

    Century -> 
    
        100
        200
        500
        
        
        100 * num

In [30]:
2100 // 100

21

In [29]:
2200 % 4

0

In [ ]:
0   400 800 1200

1600

In [27]:
year = int(input("year: "))

if year%4 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

year: 2400
Leap Year

In [ ]:
100

2100

2200

In [31]:
2016

2022

2000

2100 / 400

5.25

In [32]:
2000 % 400

0

In [33]:
2100 % 400

100

### Nested IF-Else

    2016 -> True
    2022 -> True

    2100 -> False
    2200 -> False
    
    2000 -> True
    
    
    if (year%100!= 0) or ?

In [35]:
year = int(input("year: "))

if year%4 == 0:
    if year%100== 0:
        if (year%400) == 0:
            print("Leap Year")
        else:
            print("Not a Leap Year")
    else:
        print("Leap Year")
else:
    print("Not a Leap Year")

year: 2000
Leap Year

In [46]:
year = int(input("year: "))

if year%4 == 0:
    if (year%100!=0) or (year%400==0):
        print("Leap Year")
    else:
        print("Not Leap Year")
else:
    print("Not a Leap Year")

year: 2024
Leap Year

In [50]:
year = int(input("year: "))

if (year%4==0)and (year%100!=0) or (year%400==0):
    print("Leap Year")
else:
    print("Not a Leap Year")

year: 2013
Not a Leap Year

In [51]:
year = int(input("year: "))

if (year%4==0) and (year%100) or (year%400==0):
    print("Leap Year")
else:
    print("Not a Leap Year")

year: 2100
Not a Leap Year

In [52]:
year = int(input("year: "))

if year%4==0 and year%100 or year%400==0:
    print("Leap Year")
else:
    print("Not a Leap Year")

year: 21000
Not a Leap Year

    expression -> paranthesis

In [53]:
year = int(input("year: "))

if (year%4==0) and ( (year%100) or (year%400==0) ):
    print("Leap Year")
else:
    print("Not a Leap Year")

year: 200
Not a Leap Year

In [1]:
char=input().lower()
value=ord(char)
if (value)>= 65 and value<=90:
    print(f"given charachter {char} is a capital alphabet")
elif (value>=97 and value<=122):
    print(f"given charachter {char} is a lower case alphabet")
else:
    print(f"given charachter {char} is not alphabet")

k
given charachter k is a lower case alphabet

In [2]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']