In [1]:
data=[3,2,6,7,3,8,9]
total=0
elements=0
while(elements<len(data)):
    total=total+data[elements]
    elements+=1
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  38

In [2]:
# another example
# printing square sum of all elements in the list
data=[3,2,6,7,3,8,9]
l=len(data)
n=0
sum_=0
while n<l:
    sum_ += data[n]**2
    n+=1
print(sum_)

252

In [4]:
# traversal/iteration
ans=0
i=0
while i<len(data):
    ans=ans+(data[i]**2)
#     print(i, '-->', data[i], '==>', data[i]**2)
    i+=1
else:
    print("square sum is ", ans)

square sum is  252

In [5]:
num=123456
ans=0
while num:
    rem=num%10
    print(rem)
    ans=ans*10+rem
    num=num//10
else:
    print(num)
    print(ans)

6
5
4
3
2
1
0
654321

In [6]:
num=int(input("enter a number: "))
temp=num
palindrome=0
while num:
    rem=num%10
    print(rem)
    palindrome=palindrome*10+rem
    num=num//10
if temp==palindrome:
    print(f"{temp} is palindrome")
else:
    print(f"{temp} is not a palindrome")

enter a number: 3
3
3 is palindrome

In [9]:
num=45123
print(num*100+27)
print(num%10)
print(num%100)
print(num%1000)

4512327
3
23
123

In [10]:
num=12345
while num:
    print(num, num%10, num//10)
    num=num//10

12345 5 1234
1234 4 123
123 3 12
12 2 1
1 1 0

In [12]:
num=123456
ans=0
while num!=0:
    rem=num%10
    print(rem)
    ans=ans*10+rem
    num=num//10
else:
    print(num)
    print(ans)

6
5
4
3
2
1
0
654321

In [14]:
# code to convert all items of a list to integer
nums=['40','60','80']
i=0
while i<len(nums):
    nums[i]=int(nums[i])
    i+=1
print(nums)

[40, 60, 80]

In [15]:
# improvised code to convert all items of a list to integer
# split function splits python strings into a list
nums=input().split() 
i=0
while i<len(nums):
    nums[i]=int(nums[i])
    i+=1
print(nums)

10 20 20 30 40
[10, 20, 20, 30, 40]

In [16]:
map(int,['45','60','75'])

## For Loop
    it is used to iterate iterable objects or types
    
    iterables string,list,tuple,dictionary,set.frozenset,range,zip,enumerate

In [17]:
s="hello"
for c in s:
    print(c)

h
e
l
l
o

In [18]:
# abstraction
for c in "hello":
    print(c)

h
e
l
l
o

In [19]:
for char in "a string":
    print(char.upper(), end="")

A STRING

In [22]:
### Iteration on a list
names=['c','c++','java','python']
for items in names:
    print(items)

c
c++
java
python

In [24]:
for items in names:
    print("hello world",items)

hello world c
hello world c++
hello world java
hello world python

In [25]:
nums=12345
for itme in nums:
    print(item)
# error because numbers are not iterable

TypeError: 'int' object is not iterable

In [26]:
s='12345'
for ch in s:
    print(repr(ch),type(ch))

'1' <class 'str'>
'2' <class 'str'>
'3' <class 'str'>
'4' <class 'str'>
'5' <class 'str'>

In [32]:
data=[
    ["sachin",80,90,88],
    ["shrey",60,70,80],
    ["sahil",50,60,70]
]

for item in data:
    name=item[0]
    per=sum(item[-3:])/3
    print("_"*60)
    print(f"{name:>20}={per:.2f}")

____________________________________________________________
              sachin=86.00
____________________________________________________________
               shrey=70.00
____________________________________________________________
               sahil=60.00

In [30]:
print(data[-3:])

[['sachin', 80, 90, 88], ['shrey', 60, 70, 80], ['sahil', 50, 60, 70]]

In [33]:
# using while loop
i=0
while i<len(data):
    item=data[i]
    name=item[0]
    per=sum(item[-3:])/3
    print("_"*60)
    print(f"{name:>20}={per:.2f}")
    i+=1

____________________________________________________________
              sachin=86.00
____________________________________________________________
               shrey=70.00
____________________________________________________________
               sahil=60.00

In [35]:
for name, maths, chem, phy in data:
    res=(maths+chem+phy)/3
    print("_"*35)
    msg=f"|{name:^10}|{maths:^5}|{chem:^5}|{phy:^5}|{res:5.2f}|"
    print(msg)

___________________________________
|  sachin  | 80  | 90  | 88  |86.00|
___________________________________
|  shrey   | 60  | 70  | 80  |70.00|
___________________________________
|  sahil   | 50  | 60  | 70  |60.00|