### For LOOP

In [1]:
data = [3, 2, 6, 7, 3, 8, 9]
#       0  1  2  3  4  5  6

# print square sum of all elements of given list
# do not use any built-in function or for loop [solve using while loop]

In [9]:
# Traversal / Iteration
ans = 0
i = 0
while i<len(data): # i<7 # 
    ans = ans + (data[i]**2)
    #print(i,'-->', data[i], '==>', data[i]**2)
    i += 1
else:
    print("Square sum is ", ans)

Square sum is  252

In [34]:
num = input("number: ")

if num == num[::-1]:
    print('palindrome')
else:
    print('palindrome')

number: 121
palindrome

In [33]:
num = int(input("Enter a number: "))
original = num
palindrome = 0
while num:
    rem = num%10
    palindrome = palindrome*10+rem
    num = num//10

if original == palindrome:
    print(f"{original} is palindrome")
else:
    print(f"{original} is not palindrome")

Enter a number: 12345
12345 is not palindrome

In [11]:
num = 45123

In [22]:
num = 1234
num*100 + 27

123427

In [19]:
num = 2
num*10 + 5

25

In [16]:
num%10

3

In [23]:
num = 123
num // 10  # integer division / floor division

12

In [24]:
12//10

1

In [25]:
1//10

0

In [27]:
num = 12345
while num:
    print(num, num%10, num//10)
    
    num = num // 10

12345 5 1234
1234 4 123
123 3 12
12 2 1
1 1 0

In [29]:
num = 123456

ans = 0
while num!=0: # 1
    rem = num%10 # rem = 6, 5, 4, 3, 2, 1
    print(rem) # 6, 5, 4, 3, 2, 1
    ans = ans*10+rem # ans = 6, 65, 654, 6543, 65432, 654321
    num = num//10 # num = 12345, 1234, 123, 12, 1, 0
else:
    print(num) # 0
    print(ans) # 654321

6
5
4
3
2
1
0
654321

In [ ]:
45 60 80

In [35]:
nums = input()

45 60 80

In [36]:
print(type(nums), repr(nums))

<class 'str'> '45 60 80'

In [37]:
'45 60 80'.split()

['45', '60', '80']

In [41]:


# write code to convert all items of a given list to integer
# nums = [45, 60, 80]
nums = input().split()
i = 0
while i<len(nums):
    nums[i] = int(nums[i])
    i+=1

print(nums)

10 20 40 50 60 10
[10, 20, 40, 50, 60, 10]

In [43]:
"45 60 75".split()

['45', '60', '75']

In [45]:
list(map(int, ['45', '60', '75'])) # lazy / generators

[45, 60, 75]

In [46]:
nums = list(map(int, input().split()))
print(nums)

10 50 40
[10, 50, 40]

## For Loop

    it is used to iterate iterable objects or types 
    
    iterables - string, list, tuple, dictionary, set, frozenset, range, zip, enumerate, map, ...

Syntax

    for item in sequence:
        st-1
        st-2

### String

In [49]:
s = "Hello"
i = 0
while i<len(s):
    c = s[i]
    print(c)
    i += 1

H
e
l
l
o

In [48]:
s = "Hello"
for c in s:
    print(c)

H
e
l
l
o

In [47]:
# abstraction
for c in "Hello":
    print(c)

H
e
l
l
o

In [51]:
for char in "a string":
    print(char.upper(), end="")

A STRING

#### Iteraion on a list

In [57]:
i = 1
while i<=5:
    print('hi')
    i += 1

hi
hi
hi
hi
hi

In [52]:
names = ["c", "c++", "java", "python"]

In [55]:
for item in names:
    print(item)

c
c++
java
python

In [58]:
for item in names:
    print("Hello World!", item)

Hello World! c
Hello World! c++
Hello World! java
Hello World! python

In [59]:
s = "1234"

x = s[1] # "2"
print(type(x), repr(x))

<class 'str'> '2'

In [60]:
s = "12345"
for ch in s:
    print(repr(ch), type(ch))

'1' <class 'str'>
'2' <class 'str'>
'3' <class 'str'>
'4' <class 'str'>
'5' <class 'str'>

In [61]:
nums = 12345
for item in nums:
    print(item)

TypeError: 'int' object is not iterable

In [62]:
data = [
    ["sachin", 80, 90, 88],
    ["rajat", 88, 90, 60],
    ["simran", 80, 70, 90]
]

### tuple unpacking

In [76]:
item = ["sachin", (80, 90, 100), "python"]
#          0          1             2
print(item)

['sachin', (80, 90, 100), 'python']

In [78]:
msg = """
             Name = {}
          Physics = {}
        Chemistry = {}
            Maths = {}
          Subject = {}
"""

In [79]:
name, (m, c, p), sub = item

# 0     1     2
print(msg.format(name, p, c, m, sub))

             Name = sachin
          Physics = 100
        Chemistry = 90
            Maths = 80
          Subject = python

In [77]:
name, marks, sub = item
# 0     1     2
print(name, marks, sub)

sachin (80, 90, 100) python

In [74]:
x, y= [10, 20]

In [75]:
print(x, y)

10 20

In [ ]:
data = [
    ["sachin", 80, 90, 88],
    ["rajat", 88, 90, 60],
    ["simran", 80, 70, 90]
]

In [72]:
for item in data:
    # item = ["sachin", 80, 90, 88]
    name = item[0] # name = "sachin"
    per = sum(item[-3:])/3 # 86.0
    print("_"*60)
    print(f"{name:>20} = {per:.2f}")

____________________________________________________________
              sachin = 86.00
____________________________________________________________
               rajat = 79.33
____________________________________________________________
              simran = 80.00

In [71]:
i = 0
while i<len(data):
    item = data[i] # item = ["sachin", 80, 90, 88]
    name = item[0] # name = "sachin"
    per = sum(item[-3:])/3 # 86.0
    print("_"*60)
    print(f"{name:>20} = {per:.2f}")
    i += 1

____________________________________________________________
              sachin = 86.00
____________________________________________________________
               rajat = 79.33
____________________________________________________________
              simran = 80.00

In [ ]:
for item in [('hi', 'hello'), 2, 3]:
    pass

item = ('hi', 'hello')

In [80]:
data = [
    ["sachin", 80, 90, 88],
    ["rajat", 88, 90, 60],
    ["simran", 80, 70, 90]
]

In [86]:
for name, maths, chem, phy in data:
    res = (maths+chem+phy)/3
    print("_"*35)
    msg = f"|{name:^10}|{maths:^5}|{chem:^5}|{phy:^5}|{res:5.2f}|"
    print(msg)

___________________________________
|  sachin  | 80  | 90  | 88  |86.00|
___________________________________
|  rajat   | 88  | 90  | 60  |79.33|
___________________________________
|  simran  | 80  | 70  | 90  |80.00|

In [82]:
for item in data:
    print(item)

['sachin', 80, 90, 88]
['rajat', 88, 90, 60]
['simran', 80, 70, 90]