## For Loop

    https://www.hackerrank.com/challenges/python-lists/problem

In [1]:
n = int(input())
arr = []

for _ in range(n):
    command = input().split() # "print"
    # command = ["print"]
    if command[0] == "insert":
        i = int(command[1]) # 0
        e = int(command[2]) # 6
        arr.insert(i, e) # arr.insert(0, 6) # arr = [6, 5, 10]
    elif command[0] == "print":
        print(arr)
    elif command[0] == "remove":
        e = int(command[1])
        arr.remove(e)
    elif command[0] == "append":
        e = int(command[1])
        arr.append(e)
    elif command[0] == "pop":
        arr.pop()
    elif command[0] == "sort":
        arr.sort()
    elif command[0] == "reverse":
        arr.reverse()
    else:
        pass

3
append 20
insert 0 10
print
[10, 20]

#### Zip

In [93]:
names =   [ "ram", "hari", "mohan", "sita", "geeta"]
percent = [ 78.28,  56.25, 76.56,    98.34,  34.57]

for n, p in zip(names, percent):
    print(f"{n:>20} has scored {p:.2f}% marks in test.")

                 ram has scored 78.28% marks in test.
                hari has scored 56.25% marks in test.
               mohan has scored 76.56% marks in test.
                sita has scored 98.34% marks in test.
               geeta has scored 34.57% marks in test.

In [92]:
print(*zip(names, percent), sep="\n")

('ram', 78.28)
('hari', 56.25)
('mohan', 76.56)
('sita', 98.34)
('geeta', 34.57)

In [3]:
names =   [ "ram", "hari", "mohan", "sita", "geeta"]
percent = [ 78.28,  56.25, 76.56,    98.34,  34.57]
#            0       1        2       3        4

In [4]:
#               range(5) -> 0, 1, 2, 3, 4
for i in range(len(names)):
    n = names[i] # i = 0
    p = percent[i] # i = 0
    print(f"{n.title():>10} has scored {p:.2f} marks in test.")

       Ram has scored 78.28 marks in test.
      Hari has scored 56.25 marks in test.
     Mohan has scored 76.56 marks in test.
      Sita has scored 98.34 marks in test.
     Geeta has scored 34.57 marks in test.

    ram has scored 78.28% marks in test
    hari has scored 56.25% marks in test
    ...

In [7]:
22/7

3.142857142857143

In [15]:
int("20B9", 16)

8377

In [16]:
chr(8377)

'₹'

In [14]:
print("\u20B9")

₹

In [19]:
0.0000000000000000000000000000000000012836273

1.2836273e-36

In [18]:
x = 11
print(f"{x:e}") # 0-9 a-f

1.100000e+01

In [17]:
x = 11
print(f"{x:o}") # 0-9 a-f

13

In [13]:
x = 11
print(f"{x:x}") # 0-9 a-f

b

In [10]:
x = 8
print(f"{x:b}")

1000

In [21]:
x = 42

print(f"{x:.3f}")

42.000

In [33]:
var = 2.5

print(f"->{var}<-")
print(f"->{var:>10}<-") # "        42"
print(f"->{var:<10}<-") 
print(f"->{var:^10}<-")

->2.5<-
->       2.5<-
->2.5       <-
->   2.5    <-

    d -> int
    
    f -> float
    
    x -> hexadecimal
    
    e -> exponent of 10
    
    b -> binary

In [41]:
var = 42.9329834798374372894289493489348937
# pricision points
print(f"{var:.2f}")

42.93

In [44]:
423

423

In [45]:
0.423*10**3

423.0

In [49]:
value = 1e10000
print(value)

inf

In [50]:
value = 123e-3 # 123/1000
print(value)

0.123

In [52]:
a = 0.00000000000023
b = 0.0000000002300
print(a)
print(b)

2.3e-13
2.3e-10

In [48]:
x = 0.00000000012302323
print(f"{x:.2e}") # 1.23*10**-10
# 0.00000000000123

1.23e-10

In [43]:
var = 42
print(f"{var:d}")
print(f"{var:.2f}")
print(f"{var:x}")
print(f"{var:.2e}")
print(f"{var:b}")

42
42.00
2a
4.20e+01
101010

In [69]:
for i in range(1, 20):
    #print(f"{i:>5b}")
    print(f"{i:b}".zfill(5))

00001
00010
00011
00100
00101
00110
00111
01000
01001
01010
01011
01100
01101
01110
01111
10000
10001
10010
10011

In [63]:
var = 3
print(f"{var:>10b}")  # 10.2 < < ^  d e x f

        11

In [60]:
var = 10.23483947358

print(f"'{var:>10.2f}'")

'     10.23'

In [8]:
x = 3.2938284394844
# precision values
print(f"{x}")
print(f"{x:.2f}")
print(f"{x:.4f}")

3.2938284394844
3.29
3.2938

In [70]:
proudct = ["iphone 12", "iphone 13", "iphone14", "samsung zfilp" ]
qty = [10, 20, 5, 10]
purchase_price = [40000, 50000, 70000, 70000]
sell_price = [50000, 650000, 80000, 80000]

    # rowsize = 62
    <------20---><--6--><---10---><--10---><----10--->
    __________________________________________________
    |    Name    |  Qty |  Price  |  SP   |  Profit  |
    __________________________________________________
    | iphone 12  |   10 |  40000  | 50000 |  100000  |
    --------------------------------------------------
    | iphone 13  |   20 |  50000  | 65000 |  300000  |
    --------------------------------------------------
    | iphone 14  |   5  |  70000  | 80000 |  50000   |
    --------------------------------------------------
    | sam zfilp  |   10 |  70000  | 80000 |  100000  |
    --------------------------------------------------
                Total Profit = 550000₹
    __________________________________________________

    zip - it is used to merge two or more iterables

In [72]:
english = ["one", "two", "three"]
hindi   = ["ek",  "dou", "teen" ]
nums    = [ 1,      2,      3]

In [75]:
for i in range(len(english)):
    print(f"|{nums[i]:^5} | {english[i]:^10} | {hindi[i]:^10}|")

|  1   |    one     |     ek    |
|  2   |    two     |    dou    |
|  3   |   three    |    teen   |

In [83]:
one = [1, 2, 3]
two = ['one', 'two', 'three']
three = ['ek', 'dou', 'teen']
z = zip(one, two, three)
# lazy object / single time usable
print(*z)

(1, 'one', 'ek') (2, 'two', 'dou') (3, 'three', 'teen')

In [87]:
one = [1, 2, 3]
two = ['one', 'two', 'three']
three = ['ek', 'dou', 'teen']

In [90]:
for a, b, c in zip(one, two, three):
    print(f"{a} is {b} is {c}")

1 is one is ek
2 is two is dou
3 is three is teen

In [88]:
for value in zip(one, two, three):
    print(value) #

(1, 'one', 'ek')
(2, 'two', 'dou')
(3, 'three', 'teen')

In [110]:
s = "time pass kam padai jyada kiya karo "

a = []
b = []
c = []

i = 0
while i < len(s):
    try:
        a.append(s[i])
        i+=1
        b.append(s[i])
        i+=1
        c.append(s[i])
        i+=1
    except IndexError:
        break
        
a = "".join(a)
b = "".join(b)
c = "".join(c)
print(a)
print(b)
print(c)

tea maiyai r
i sk d a yko
mpsapajdkaa

In [112]:
a = 'tea maiyai r'
b = 'i sk d a yko'
c = 'mpsapajdkaa '

for c1, c2, c3 in zip(a, b, c):
    print(c1+c2+c3, end="")

time pass kam padai jyada kiya karo

In [113]:
s = "apna time ayega"

a = []
b = []
c = []

i = 0
while i < len(s):
    try:
        a.append(s[i])
        i+=1
        b.append(s[i])
        i+=1
        c.append(s[i])
        i+=1
    except IndexError:
        break
        
a = "".join(a)
b = "".join(b)
c = "".join(c)
print(a)
print(b)
print(c)

aai e
p mag
nteya