#### Questions

In [4]:
def func():
    return 1
    return 2
    return 3

In [5]:
a = func()
print(a) # ?

1

### Recursion

In [6]:
def hello(var):
    if var!=0:
        return var + hello(var-1)
    return 10

In [7]:
ans = hello(5)

In [8]:
print(ans) # ?

25

In [14]:
def natural_sum(var):
    if var!=0:
        return var + natural_sum(var-1)
    return 0

In [16]:
ans = natural_sum(10)
print(ans)

55

In [17]:
print(natural_sum(5))

15

    10 + 9 + 8 + 7 + 6 + ... + 2 + 1 + 0

    SUM
    if n!=0
        return n + SUM(n-1)
    return 0

**factorial**

    5! = 5*4*3*2*1 = 120

    5! = 5*4!

    4! = 4*3!

    3! = 3*2!

    2! = 2*1!

    1! = 1

In [22]:
def factorial(num):
    if num==1:
        return 1
    return num*factorial(num-1)

In [24]:
ans = factorial(3)
print(ans)

6

**vimp

    write a recursive and iterative python program to find nth term of fabnacii series

    fib(0) -> 0
    fib(1) -> 1

    fib(2) = fib(0) + fib(1) = 0+1 -> 1
    fib(3) = fib(2) + fib(1) = 1+1 -> 2

    fib(5) = fib(4) + fib(3) = 5

    0 1 1 2 3 5 8 13 21 34 55 89 144 ....

    a = 10
    d = 5

    a, a+d, a+2d, a+3d, ...., a+nd

    10 15 20 25 30 ....

    fib(5) => 5
    fib(10) => 55

### Advance Functions

    Enumerate, Zip,

    Lambda Functions / Anonymous Function / Inline Function
    
    Map, Filter,  *Reduce
    
    Generators, Closure, **Decorators

In [30]:
def sq_sum(x, y):
    return x**2 + y**2

a = sq_sum

print(a is sq_sum)

True

In [31]:
print(a)

<function sq_sum at 0x000001E5C2E79790>

In [26]:
r = sq_sum(10, 20)

In [29]:
print(sq_sum)

<function sq_sum at 0x000001E5C0C37F70>

In [27]:
print(r)

500

    def func(arg1, arg2, ....):
        st-1
        st-2
        ...      function body
        st-3
        return return_statement

## Lambda Function

    Anonymous Function because lambda function does not have any name
    
    Inline Function because this is defined using single line of code
    
    
    
**Syntax**

    func_ref = lambda arg1, arg2, ... : return_statement

In [32]:
def hello():
    print("Hello World!")

In [36]:
print(hello)
hello()

<function hello at 0x000001E5C258EC10>
Hello World!

In [40]:
(lambda : print("Hello World!"))()

Hello World!

In [34]:
h = lambda : print("Hello World!")

In [35]:
print(h)

<function <lambda> at 0x000001E5C0C37D30>

In [42]:
h() # calling using refrence
(lambda : print("Hello World!"))() # Direct Call

Hello World!
Hello World!

In [43]:
def sum_square(x, y):
    return x**2 + y**2

In [44]:
r = sum_square(10, 20)
print(r)

500

In [45]:
sq = lambda x,y: x**2+y**2

In [46]:
r = sq(1, 2)
print(r)

5

In [47]:
r = sq(10, 20)
print(r)

500

In [52]:
num = int(input("Number: ")) # 9

ans = num**2 if num%2==0 else num-(num/2)

print(ans)

Number: 9
4.5

**List Comprenshions**

In [48]:
def even_odd(num):
    if num%2==0:
        return "EVEN"
    else:
        return "ODD"

In [49]:
ans = even_odd(16)
print(ans)

EVEN

In [50]:
ans = even_odd(19)
print(ans)

ODD

In [ ]:
eo = lambda num: # your code goes here

In [53]:
eo = lambda num: "EVEN" if num%2==0 else "ODD"

In [54]:
ans = eo(16)
print(ans) # EVEN

EVEN

In [55]:
ans = eo(19)
print(ans) # ODD

ODD

In [56]:
def func(arg):
    if arg=="spam":
        return "ham"
    return "spam"

In [59]:
r = func("spam")
print(r)

ham

In [60]:
r = func("ham")
print(r)

spam

In [61]:
func = lambda arg: "ham" if arg=="spam" else "ham"

In [62]:
func("ham")

'ham'

In [63]:
func("spam")

'ham'

**lambda codes** 

    tower of hanoi
    
    to check wheather a number prime or not
    
    fabnaccii

Write a python code to  define a greatest function which will return largest value among 3 values
    
    you are only allowed to use single line of code to define a function

    st-1 if cond else st-2

In [70]:
a if a>b and a>c b elif b>c else c

SyntaxError: invalid syntax (3688309575.py, line 1)

In [65]:
def greatest(a, b, c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else:
        return c

In [71]:
def greatest(a, b, c):
    if a>b and a>c:
        return a
    else:
        if b>c:
            return b
        else:
            return c

In [74]:
greatest(10, 40, 30)

40

In [75]:
# replace this line with your code
greatest = lambda a, b, c: a if (a>b and a>c) else (b if (b>c) else c)
r = greatest(10, 40, 20)
print(r)
# r = 40

40