### lambda

In [8]:
'jadu' if 0 else 'ky baat kar raha hai'

'ky baat kar raha hai'

In [ ]:
lambda arg1, arg2, ...: return_value

In [1]:
f = lambda x, y: x**2+y if x>y else x+y**2

In [2]:
a = f(3, 4)
print(a)

19

In [21]:
a = 10

In [20]:
if a=10:
    print('hi')

SyntaxError: invalid syntax (3174762230.py, line 1)

In [3]:
def get_discount(price, age, gender):
    if age<=18:
        discount = price*0.25
    elif gender=="female":
        discount = price*0.20
    else:
        discount = price*0.10
    return discount

In [18]:
gt = lambda p, a, g: p*0.25 if a<=18 else p*0.20 if g == 'female' else p*0.10

In [19]:
gt(5000, 30, 'female')

1000.0

In [4]:
r = get_discount(2000, 15, "male")
print(r)

500.0

In [5]:
r = get_discount(10000, 20, "female")
print(r)

2000.0

In [6]:
r = get_discount(1000, 21, "male")
print(r)

100.0

    fib(n) = fib(n-1) + fib(n-2)
     ...
     
    fib(8) = fib(7) + fib(6)
    ...
    fib(4) = fib(3) + fib(2)
    
    fib(3) = fib(2) + fib(1)
    
    fib(2) = fib(1) + fib(0)

    fib(1) = 1

    fib(0) = 0

In [31]:
f = lambda n: 0 if n==0 else 1 if n==1 else f(n-1)+f(n-2)

f(10)

55

In [23]:
def fib(n):
    if n==0:
        return 0
    if n==1:
        return 1
    return fib(n-1) + fib(n-2)

In [28]:
for i in range(20):
    print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [24]:
fib(0)

0

In [25]:
fib(1)

1

In [26]:
fib(2)

1

In [47]:
n = int(input("number: "))

for c in range(2, n):
    print(f"{n} % {c} = {n%c}")

number: 13
13 % 2 = 1
13 % 3 = 1
13 % 4 = 1
13 % 5 = 3
13 % 6 = 1
13 % 7 = 6
13 % 8 = 5
13 % 9 = 4
13 % 10 = 3
13 % 11 = 2
13 % 12 = 1

In [34]:
def prime(num, check=2):
    if num<=1:
        return False
    if num in [2, 3, 5, 7, 11]:
        return True
    
    if num%check==0:
        return False
    
    if check>=(num**(1/2)):
        return True
    return prime(num, check+1)

In [37]:
isp = lambda n,c=2:False if (n<=1) else (True if n in [2, 3, 5] else \
        (False if n%c==0 else (True if c>=n//2 else isp(n, c+1 ) ) ) )

In [42]:
print([ n for n in range(1, 100) if isp(n)])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [38]:
isp(13)

True

In [39]:
isp(19)

True

In [40]:
isp(12)

False

In [35]:
for n in range(1, 101):
    if prime(n):
        print(n, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

    write a python program to take 5 number input from using and store them in a list

In [51]:
nums = []
for _ in range(5):
    num = int(input())
    nums.append(num)

56
45
34
20
10

In [52]:
print(nums)

[56, 45, 34, 20, 10]

In [53]:
import random

In [54]:
nums = []
for _ in range(10):
    num = random.randint(10, 50)
    nums.append(num)

In [55]:
print(nums)

[29, 21, 30, 48, 20, 15, 32, 17, 30, 42]

#### List Comprehension


    Syntax:
    
        lst = [ statement for var in seq ]

In [ ]:
nums = [ 1, 2, 3, 4, 5, ...]

In [58]:
nums = [ n for n in range(1, 11) ]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

`store square of first 10 numbers in a list using single line of code`

In [59]:
nums = [ n**2 for n in range(1, 11)]
print(nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

`write a python program to take 5 number input from user and store them in a list`

    you are only allowed to write single line of code

In [60]:
nums = [ int(input()) for n in range(5)]
print(nums)

50
30
10
90
20
[50, 30, 10, 90, 20]

`write a python code to generate a list with 10 random numbers between 1-100`

    you are allowed to write one line of code

In [62]:
from random import randint

In [64]:
nums = [ randint(1, 100) for _ in range(10) ]
print(nums)

[3, 58, 1, 20, 97, 14, 1, 82, 36, 8]

In [73]:
chr(2304)

'ऀ'

In [89]:
chr(2435)

'ঃ'

`Create a python list having all hindi letters in it using single line of code`

    2304 to 2435

In [93]:
hindi = []
i = 2304
while i<=2436:
    hindi.append(chr(i))
    i += 1
print(hindi)

['ऀ', 'ँ', 'ं', 'ः', 'ऄ', 'अ', 'आ', 'इ', 'ई', 'उ', 'ऊ', 'ऋ', 'ऌ', 'ऍ', 'ऎ', 'ए', 'ऐ', 'ऑ', 'ऒ', 'ओ', 'औ', 'क', 'ख', 'ग', 'घ', 'ङ', 'च', 'छ', 'ज', 'झ', 'ञ', 'ट', 'ठ', 'ड', 'ढ', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'ऩ', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ऱ', 'ल', 'ळ', 'ऴ', 'व', 'श', 'ष', 'स', 'ह', 'ऺ', 'ऻ', '़', 'ऽ', 'ा', 'ि', 'ी', 'ु', 'ू', 'ृ', 'ॄ', 'ॅ', 'ॆ', 'े', 'ै', 'ॉ', 'ॊ', 'ो', 'ौ', '्', 'ॎ', 'ॏ', 'ॐ', '॑', '॒', '॓', '॔', 'ॕ', 'ॖ', 'ॗ', 'क़', 'ख़', 'ग़', 'ज़', 'ड़', 'ढ़', 'फ़', 'य़', 'ॠ', 'ॡ', 'ॢ', 'ॣ', '।', '॥', '०', '१', '२', '३', '४', '५', '६', '७', '८', '९', '॰', 'ॱ', 'ॲ', 'ॳ', 'ॴ', 'ॵ', 'ॶ', 'ॷ', 'ॸ', 'ॹ', 'ॺ', 'ॻ', 'ॼ', 'ॽ', 'ॾ', 'ॿ', 'ঀ', 'ঁ', 'ং', 'ঃ', '\u0984']

In [92]:
hindi = []

for code in range(2304, 2436):
    hindi.append(chr(code))
    
print(hindi)

['ऀ', 'ँ', 'ं', 'ः', 'ऄ', 'अ', 'आ', 'इ', 'ई', 'उ', 'ऊ', 'ऋ', 'ऌ', 'ऍ', 'ऎ', 'ए', 'ऐ', 'ऑ', 'ऒ', 'ओ', 'औ', 'क', 'ख', 'ग', 'घ', 'ङ', 'च', 'छ', 'ज', 'झ', 'ञ', 'ट', 'ठ', 'ड', 'ढ', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'ऩ', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ऱ', 'ल', 'ळ', 'ऴ', 'व', 'श', 'ष', 'स', 'ह', 'ऺ', 'ऻ', '़', 'ऽ', 'ा', 'ि', 'ी', 'ु', 'ू', 'ृ', 'ॄ', 'ॅ', 'ॆ', 'े', 'ै', 'ॉ', 'ॊ', 'ो', 'ौ', '्', 'ॎ', 'ॏ', 'ॐ', '॑', '॒', '॓', '॔', 'ॕ', 'ॖ', 'ॗ', 'क़', 'ख़', 'ग़', 'ज़', 'ड़', 'ढ़', 'फ़', 'य़', 'ॠ', 'ॡ', 'ॢ', 'ॣ', '।', '॥', '०', '१', '२', '३', '४', '५', '६', '७', '८', '९', '॰', 'ॱ', 'ॲ', 'ॳ', 'ॴ', 'ॵ', 'ॶ', 'ॷ', 'ॸ', 'ॹ', 'ॺ', 'ॻ', 'ॼ', 'ॽ', 'ॾ', 'ॿ', 'ঀ', 'ঁ', 'ং', 'ঃ']

In [90]:
hindi = [
    chr(code) for code in range(2304, 2436)
]

In [91]:
print(hindi)

['ऀ', 'ँ', 'ं', 'ः', 'ऄ', 'अ', 'आ', 'इ', 'ई', 'उ', 'ऊ', 'ऋ', 'ऌ', 'ऍ', 'ऎ', 'ए', 'ऐ', 'ऑ', 'ऒ', 'ओ', 'औ', 'क', 'ख', 'ग', 'घ', 'ङ', 'च', 'छ', 'ज', 'झ', 'ञ', 'ट', 'ठ', 'ड', 'ढ', 'ण', 'त', 'थ', 'द', 'ध', 'न', 'ऩ', 'प', 'फ', 'ब', 'भ', 'म', 'य', 'र', 'ऱ', 'ल', 'ळ', 'ऴ', 'व', 'श', 'ष', 'स', 'ह', 'ऺ', 'ऻ', '़', 'ऽ', 'ा', 'ि', 'ी', 'ु', 'ू', 'ृ', 'ॄ', 'ॅ', 'ॆ', 'े', 'ै', 'ॉ', 'ॊ', 'ो', 'ौ', '्', 'ॎ', 'ॏ', 'ॐ', '॑', '॒', '॓', '॔', 'ॕ', 'ॖ', 'ॗ', 'क़', 'ख़', 'ग़', 'ज़', 'ड़', 'ढ़', 'फ़', 'य़', 'ॠ', 'ॡ', 'ॢ', 'ॣ', '।', '॥', '०', '१', '२', '३', '४', '५', '६', '७', '८', '९', '॰', 'ॱ', 'ॲ', 'ॳ', 'ॴ', 'ॵ', 'ॶ', 'ॷ', 'ॸ', 'ॹ', 'ॺ', 'ॻ', 'ॼ', 'ॽ', 'ॾ', 'ॿ', 'ঀ', 'ঁ', 'ং', 'ঃ']

In [96]:
nums = [ n for n in range(1, 101) if n%3==0 and n%7==0]
print(nums)

[21, 42, 63, 84]

In [94]:
nums = [
    n
    
    for n in range(1, 31) if n%3==0
]

In [95]:
print(nums)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [100]:
names = ["sachin", "rajat", "nidhi", "simran", 
        "kushal", "ravi", "yadvendra", "shivani", 
        "gaurav", "Radheshyam"]

# list all names which starts with "r" using single line of code

In [101]:
ans = [
    n for n in names if n[0].lower() == 'r'
]
print(ans)

['rajat', 'ravi', 'Radheshyam']

In [102]:
nums = [
    (i, j)
        for i in range(4)
        for j in range(3)
]

In [103]:
print(nums)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2)]